//- output: ../index.html, pretty:false
//- pug index.pug -o ../ -w

doctype html
html
	head
		meta(charset='UTF-8')
		title CountDown!
		link(rel='stylesheet', href='style/css/style.css')
	body
		.drag-handle
		
		#userInputs.row
			input.userDD(type='text', placeholder='00')
			.timerSeparator
			input.userHH(type='text', placeholder='00')
			.timerSeparator
			input.userMM(type='text', placeholder='00')
			.timerSeparator
			input.userSS(type='text', placeholder='00')

		.row.startButtonRow
			h3 Select action:

			select.winActionSelect
				option(value='shutdown') Shutdown
				option(value='sleep') Sleep
				option(value='hibernate') Hibernate
				option(value='restart') Restart

		.row.startButtonRow
			button.button.normalBtn.shutDownBtn(onclick='startCD()')  Start

		#clockdiv.row
			.clockElement
				span.clockTime.days 0
			.clockElement
				span.clockTime.hours 00
			.clockElement
				span.clockTime.minutes 00
			.clockElement
				span.clockTime.seconds 00
		.clockLabelRow.row
			.clockElement
				.clockLabel  Days
			.clockElement
				.clockLabel  Hours
			.clockElement
				.clockLabel  Minutes
			.clockElement
				.clockLabel  Seconds


		.presets
			.clockElement
				.clockLabel Presets:
			
			button.button.normalBtn.shutDownBtn(onclick='presetStart("MM", 5)')   5 min
			button.button.normalBtn.shutDownBtn(onclick='presetStart("MM", 10)')  10 min
			button.button.normalBtn.shutDownBtn(onclick='presetStart("MM", 15)')  15 min
			button.button.normalBtn.shutDownBtn(onclick='presetStart("MM", 20)')  20 min
			button.button.normalBtn.shutDownBtn(onclick='presetStart("MM", 30)')  30 min
			button.button.normalBtn.shutDownBtn(onclick='presetStart("HH", 1)')   1 h
			button.button.normalBtn.shutDownBtn(onclick='presetStart("HH", 2)')   2 h
			
			

		button#closeBtn.button x
	script(type='text/javascript', src='js/timer.js')
	script.
		// require('js/renderer.js')
		//- console.log(userOS)
